NODE_ENV=development

PORT=3000

JWT_SECRET=your_jwt_secret

RSA_PRIVATE_KEY=your_rsa_private_key

ALIYUN_ACCESS_KEY_ID=your_access_key_id
ALIYUN_ACCESS_KEY_SECRET=your_access_key_secret
ALIYUN_OSS_BUCKET=your_bucket_name
ALIYUN_OSS_REGION=your_region